.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  border-top: 3px solid #FFC771FF;
  border-right: 3px solid transparent;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}