.input {
  padding: 15px;
  font: inherit;
  font-size: 18px;
}

.suggestList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggest {
  padding: 10px;

  &:hover {
    background-color: dodgerblue;
    cursor: pointer;
  }
}