.card {
  padding: 20px;
  border: 1px solid #eee;
  display: grid;
  position: relative;
  column-gap: 20px;
  grid-template-columns: 2fr 3fr;
  border-radius: 5px;
  grid-template-areas: "header header"
                        "icon icon"
                        "temperature description"
                        "temperature feelsLike";

  transition: box-shadow .5s;
  &:hover {
    box-shadow: 0 20px 30px 5px rgb(0 0 0 / 4%);
  }
}

.header {
  display: flex;
  align-items: center;
  grid-area: header;
}

.name {
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  grid-area: icon;
  justify-self: center;
  width: 100px;
  height: 100px;
}

.temperature {
  text-align: center;
  font-size: 48px;
  grid-area: temperature;
  align-self: center;
  justify-self: end;
}

.description {
  grid-area: description;
  align-self: end;
}

.feelsLike {
  grid-area: feelsLike;
}

.favoriteBtn {
  margin-left: auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  border: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s, color .5s, opacity .3s;
  width: 30px;
  height: 30px;
  opacity: 0;

  &:hover {
    background-color: #eee;
  }
}

.card:hover :is(.favoriteBtn, .deleteBtn) {
  opacity: 1;
}

.favorite {
  color: red;
}

.deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  border: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .3s, opacity .3s;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  opacity: 0;
  
  &:hover {
    background-color: #eee;
  }
}

.link {
  position: absolute;
  display: block;
  inset: (0 0 0 0);
}